.navbar {
    background-color: black;
    width: 200px;
    height:795px ;
    margin-top:-18px;
}

.nav-item{
    margin-bottom: 50px;
    // color: white;
}
.nav-link{
    color: white;
}
a:link { text-decoration: none; }

